<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monitoring" href="/tabs/monitoring">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vehicles" href="/tabs/vehicles">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Véhicules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alerts" href="/tabs/alerts">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alertes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
